<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Marcio. It uses data from mapbox.com and darksky.net.</p>
        <img class="portrait" src="/image/weather.jpg" alt="weather">
    </div>
    {{>footer}}
</body>

</html>